runs
weights
MUJOCO_LOG.TXT
trained_models
logs
results
log_gym
old_logs
vids
__pycache__
logic_game_xml
tags
*.m
*.mp4
*.pyc
*.DS_STORE
vids-archive
method/embedder/visualization/
method/embedder/data
sample-runs
tmp_*
data/trained_models
data/vids
data/results
data/obs
.python-version
